<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="tv.teads.sdk"
    version="1.0">
    <name>TeadsPlugin</name>
    <description>Cordova plugin for Teads ads</description>
    <license>Apache 2.0</license>
    <keywords>teads</keywords>
    <repo>https://github.com/teads/TeadsSDKDev-cordova</repo>
    <issue>https://github.com/teads/TeadsSDKDev-cordova/issues</issue>

    <engines>
        <engine name="cordova-android" version=">=3.5.0" />
    </engines>

    <js-module src="www/TeadsPlugin.js" name="TeadsPlugin">
        <clobbers target="Teads" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="TeadsPlugin">
            <param name="android-package" value="tv.teads.plugin.TeadsPlugin" />
          </feature>
        </config-file>

        <source-file src="src/android/TeadsPlugin.java" target-dir="src/tv/teads/plugin/" />

        <dependency id="com.google.playservices" />
        <dependency id="android.support.v4" />
        <dependency id="android.support.v7-appcompat" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <activity
               android:name="tv.teads.sdk.adContainer.activity.FullscreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true">
           </activity>

           <activity
               android:name="tv.teads.sdk.adContainer.activity.BrowserActivity"
               android:theme="@style/Theme.AppCompat"
               android:configChanges="orientation|keyboardHidden|screenSize" >
           </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>

        <framework src="src/android/TeadsSDK" custom="true" />
    </platform>

    <!-- ios -->
    <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="TeadsPlugin">
                 <param name="ios-package" value="TeadsPlugin" />
             </feature>
         </config-file>
         
         <header-file src="src/ios/TeadsPlugin.h"/>
         <source-file src="src/ios/TeadsPlugin.m"/>
         
         <framework src="src/ios/TeadsSDK.framework" custom="true"/>
         
         <resource-file src="src/ios/TeadsSDKResources.bundle"/>
        
        <framework src="libxml2.dylib"/>
        <framework src="libsqlite3.0.dylib"/>
    </platform>

</plugin>